[submodule "frontend"]
	path = frontend
	url = https://github.com/override-sh/aetheria-frontend.git
[submodule "headless"]
	path = headless
	url = https://github.com/override-sh/aetheria-headless.git
[submodule "docs"]
	path = docs
	url = https://github.com/override-sh/aetheria-docs.git
