{
	"singleQuote": false,
	"arrowParens": "always",
	"printWidth": 120,
	"bracketSameLine": false,
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"proseWrap": "always",
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "es5",
	"singleAttributePerLine": true
}
